numpy==1.26.3
pandas==2.1.4
scikit-learn==1.7.2
scipy==1.16.3
imbalanced-learn==0.14.0
imblearn==0.0
xgboost==3.1.2
matplotlib==3.8.1
seaborn==0.13.2
jupyter==1.0.0
notebook==7.5.4
ipykernel==7.28.0
matplotlib-inline==0.1.6
